@import url("https://fonts.googleapis.com/css?family=JetBrains Mono");

* {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #1c1c1c;
    color: #c7c7c7;
    border-radius: 3px;
}

/* hide scrollbar (in Chrome, Safari, Opera) */
*::-webkit-scrollbar {
    display: none;
}

.center {
    text-align: center;
}

.margin {
    margin: 10px;
}

.green {
    color: #11d10a;
    width: 99%;
    text-align: center;
    white-space: pre-wrap;
}

.orange {
    color: #d1740a;
    width: 99%;
    text-align: left;
    white-space: pre-wrap;
    font-family: 'JetBrains Mono', monospace;
}

.red {
    color: #d10a0a;
    width: 99%;
    text-align: left;
    white-space: pre-wrap;
    font-family: 'JetBrains Mono', monospace;
}

.textArea {
    resize: vertical;
    min-width: 99%;
    max-width: 99%;
    width: 99%;
    min-height: 150px;
    height: 150px;
    margin-left: 2px;
    margin-top: 10px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 15px;
}

.column {
    float: left;
    display: inline;
    width: 48%;
    margin-left: 20px;
}

.smallColumn {
    float: left;
    display: inline;
    width: 30%;
    margin-left: 10px;
}

.centerContainer {
    display: flex;
    justify-content: center;
}

.button {
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
    width: 150px;
}

.doubleButtonLeft {
    margin-top: 10px;
    margin-right: 0;
    margin-left: 15px;
    width: 125px;
}

.doubleButtonRight {
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 0;
    width: 50px;
}

.select {
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
    width: 150px;
}

.fieldset {
    margin-right: 0;
}

.fieldset > input {
    margin-right: 5px;
}

.fieldset > label {
    margin-right: 10px;
}

.smallFieldset {
    margin-top: -28px;
}

.smallFieldset > input {
    margin-right: 5px;
}

.rows {
    margin-top: 28px;
    display: block;
}

.rows > div {
    margin-bottom: 5px;
}

.input {
    width: 50px;
    margin-right: 5px;
}

.graph {
    border-style: solid;
    border-color: #c7c7c7;
    margin-left: 2px;
    margin-right: -1px;
    display: flex;
    justify-content: center;
}

.graph > svg {
    max-height: 215px;
}

.parameters {
    margin-left: 10px;
    margin-right: -26px;
}

.model {
    margin-left: 20px;
    margin-right: 20px;
}

.bottomSpace {
    margin-bottom: 3px;
}

/* Loading animation */
.loading {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.loading:after {
    content: " ";
    display: flex;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #c7c7c7 transparent #c7c7c7 transparent;
    animation: loading 1.2s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}