@import url("https://fonts.googleapis.com/css?family=JetBrains Mono");

:root {
    --white: #c7c7c7;
    --black: #1c1c1c;
    --green: #069c3a;
    --orange: #d65023;
    --red: #d74952;
    --blue: #0c83e7;
    --purple: #9f5ed1;
}

* {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: var(--black);
    color: var(--white);
    border-radius: 3px;
}

/* hide scrollbar (in Chrome, Safari, Opera) */
*::-webkit-scrollbar {
    display: none;
}

.center {
    text-align: center;
}

.margin {
    margin: 10px;
}

.topRight {
    position: relative;
    font-size: 10px;
    text-decoration: none;
    top: 5px;
}

.inTextInfo {
    font-size: 10px;
    text-decoration: none;
}

.simplifyInfo {
    position: relative;
    font-size: 10px;
    text-decoration: none;
    bottom: -1px;
    left: 43px;
}

.checkInfo {
    position: relative;
    font-size: 10px;
    text-decoration: none;
    bottom: -1px;
    left: 15px;
}

.parenthesiseInfo {
    position: relative;
    font-size: 10px;
    text-decoration: none;
    bottom: -1px;
    left: 17px;
}

.formulaGeneratorInfo {
    position: relative;
    font-size: 10px;
    text-decoration: none;
    bottom: -1px;
    left: 15px;
}

.algorithmTesterInfo {
    position: relative;
    font-size: 10px;
    text-decoration: none;
    bottom: -1px;
    left: 19px;
}

.tracerInfo {
    position: relative;
    font-size: 10px;
    text-decoration: none;
    bottom: -1px;
    left: 37px;
}

.modelGeneratorInfo {
    position: relative;
    font-size: 10px;
    text-decoration: none;
    bottom: -1px;
    left: 19px;
}

.modelEncoderInfo {
    position: relative;
    font-size: 10px;
    text-decoration: none;
    bottom: -1px;
    left: 24px;
}

.modelNotationInfo {
    position: relative;
    font-size: 10px;
    text-decoration: none;
    bottom: -26px;
    left: 677px;
}

.green {
    color: var(--green);
    width: 99%;
    text-align: center;
    white-space: pre-wrap;
}

.orange {
    color: var(--orange);
    width: 99%;
    text-align: left;
    white-space: pre-wrap;
    font-family: 'JetBrains Mono', monospace;
}

.red {
    color: var(--red);
    width: 99%;
    text-align: left;
    white-space: pre-wrap;
    font-family: 'JetBrains Mono', monospace;
}

.requires {
    margin: 2px 0;
    color: var(--red);
    width: 99%;
    text-align: left;
}

.textArea {
    resize: vertical;
    min-width: 99%;
    max-width: 99%;
    width: 99%;
    min-height: 150px;
    height: 150px;
    margin-left: 2px;
    margin-top: 10px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 15px;
}

.column {
    float: left;
    display: inline;
    width: 48%;
    margin-left: 20px;
}

.smallColumn {
    float: left;
    display: inline;
    width: 30%;
    margin-left: 10px;
}

.centerContainer {
    display: flex;
    justify-content: center;
}

.button {
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
    width: 150px;
}

.leftBigDoubleButtonLeft {
    margin-top: 10px;
    margin-right: 0;
    margin-left: 15px;
    width: 125px;
}

.leftBigDoubleButtonRight {
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 0;
    width: 60px;
}

.rightBigDoubleButtonLeft {
    margin-top: 10px;
    margin-right: 0;
    margin-left: 15px;
    width: 60px;
}

.rightBigDoubleButtonRight {
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 0;
    width: 125px;
}

.select {
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
    width: 150px;
}

.fieldset {
    margin-right: 0;
}

.fieldset > input {
    margin-right: 5px;
}

.fieldset > label {
    margin-right: 10px;
}

.smallFieldset {
    margin-top: -28px;
}

.smallFieldset > input {
    margin-right: 5px;
}

.rows {
    margin-top: 28px;
    display: block;
}

.rows > div {
    margin-bottom: 5px;
}

.input {
    width: 50px;
    margin-right: 5px;
}

.checkbox {
    width: 50px;
    margin-top: 10px;
    margin-right: -5px;
}

.textInput {
    width: 142px;
    margin-top: 10px;
    margin-left: 21px;
}

.graphDark {
    border-style: solid;
    border-color: var(--white);
    background-color: var(--black);
    margin-left: 2px;
    margin-right: -1px;
    display: flex;
    justify-content: center;
}

.graphLight {
    border-style: solid;
    border-color: var(--black);
    background-color: var(--white);
    margin-left: 2px;
    margin-right: -1px;
    display: flex;
    justify-content: center;
}

.graphDark > svg {
    max-height: 215px;
}

.graphLight > svg {
    max-height: 215px;
    background-color: var(--white);
}

.graphStyleButton {
    position: relative;
    left: 654px;
    top: 26px;
}

.parameters {
    margin-left: 10px;
    margin-right: -26px;
}

.model {
    margin-left: 20px;
    margin-right: 20px;
}

.bottomSpace {
    margin-bottom: 3px;
}

.notImplemented {
    text-decoration: line-through;
}

/* Loading animation */
.loading {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.loading:after {
    content: " ";
    display: flex;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 3px solid;
    border-color: var(--white) transparent var(--white) transparent;
    animation: loading 1.2s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}